<div class="jumbotron">
  <h1>Windalert</h1>
  <p>
    Un petit site pour récupérer les prévisions de <a href="http://www.meteociel.fr/">Meteociel</a> en noeuds et un peu plus agréables à lire.
  </p>
</div>
<div ng-if="!data_retrieved">
  <div class="cssload-preloader">
			<span>C</span>
		<span>h</span>
		<span>a</span>
		<span>r</span>
		<span>g</span>
		<span>e</span>
		<span>m</span>
		<span>e</span>
		<span>n</span>
		<span>t</span>
</div>
</div>
<div class="container" ng-if="data_retrieved">
  <h3>Le touquet (4 prochains jours)</h3>
  <ul>
    <li ng-repeat="result in data.results.slice(2)">{{result.values_1[0]}} {{result.values_1[1]}} - {{result.value_1}} : <strong>{{(result.value_3 / 1.852).toFixed(0)}} - {{(result.value_4 / 1.852).toFixed(0)}}</strong> nds, direction {{result["image_2/_title"]}}</li>
  </ul>
</div>
