<div class="jumbotron">
  <h1>Windalert</h1>
  <p>
    Un petit site pour récupérer les prévisions de <a href="http://www.meteociel.fr/">Meteociel</a> en noeuds à travers <a href="https://import.io/">Import.io</a>.
  </p>
</div>
<section>
  <ul class="list-group">
    <button class="btn btn-primary" ui-sref="spot({'spot':'le-touquet'})">Le Touquet</button>
    <button class="btn btn-primary" ui-sref="spot({'spot':'le-crotoy'})">Le Crotoy</button>
    <button class="btn btn-primary" ui-sref="spot({'spot':'cayeux'})">Cayeux-sur-mer</button>
  </ul>
</section>
