<div class="container">
  <h3>{{spotname}} (4 prochains jours)</h3>
  <table class="table table-condensed table-responsive table-striped">
    <thead>
      <tr>
        <th>
          Jour
        </th>
        <th>
          Heure
        </th>
        <th>
          Base (nds)
        </th>
        <th>
          Rafales (nds)
        </th>
        <th>
          Direction
        </th>
        <th>
          Météo
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="result in prevs.results.slice(2)">
        <td>
          {{result.values_1[0]}} {{result.values_1[1]}}
        </td>
        <td>
          {{result.value_1}}
        </td>
        <td>
          {{(result.value_3 / 1.852).toFixed(0)}}
        </td>
        <td>
          {{(result.value_4 / 1.852).toFixed(0)}}
        </td>
        <td>
          <img src="{{result['image_2']}}" title="Direction : {{result['image_2/_title']}}" alt="Direction : {{result['image_2/_title']}}"/>
        </td>
        <td>
          <img src="{{result['image_3']}}" alt="Meteo" />&nbsp;&nbsp;<span ng-if="result['values_2'] !== '--'">{{result['values_2']}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
